
<!--MODAL POP UP CONTENT FORM-->


<div class="modal-dialog">
  <div class="modal-content">

     <div class="edit-book-form"> <!--BOX SHADOW-->



<%= simple_form_for @book, :html => { :multipart => true } do |f| %>

 <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
 <%= f.file_field :user_pic, accept: 'image/png, image/jpg' %>

 <%= f.input :title, label: "Book Title" %>
 <%= f.input :description %>
 <%= f.input :author %>
 <%= f.button :submit, :class => 'btn-custom2' %>


 
 



<% end %>

  </div><!--BOX SHADOW END-->

  </div>
</div>

<!--SWEETALERT-->


<script type="text/javascript">

      function sweetadd(){
          Swal.fire({
            position: 'top-end',
            type: 'success',
            title: 'Added review successfully!',
            showConfirmButton: false,
            timer: 1500
          })
       }
      
</script>


