<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--FOR RESPONSIVE WEBSITE-->

    <link href="/assets/heartbooks-5ca678e048b4678742490f9573aa19e05c6965ae35cf5c167496012df5cb30af.ico" rel="shortcut icon" type="image/x-icon" />
    <title>BookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>



  <!--Margin for right and left-->
      <%= yield %>
    
       <!--<p id="notice"><%= notice %></p>-->

</body>
</html>
